# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
dist/

# production
coverage/

# misc
.DS_Store
*.log

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts
